* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav ul li {
    list-style: none;
    padding: 10px 10px;
}

.nav ul li img {
    width: 24.61px;
    margin: 0 5px;
    vertical-align: middle;
}